@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Fredoka+One&family=Inter:wght@400;600;700&family=Nunito+Sans:wght@300;600;800&family=Nunito:wght@400;700;800&display=swap");
/* font-family: 'DM Sans', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif; */
/* ESTILO GERAL */

.color {
  color: #3affe5;
}

.negrito {
  font-weight: bold;
}

/* HEADER */

.header {
  width: 100%;
  height: 79px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 50px;
}

.navigation ul {
  display: flex;
  margin-right: 55px;
}

.navigation li + li {
  margin-left: 37px;
}

.navigation ul li:nth-child(4) {
  margin-right: 37px;
}

.item-menu {
  color: #7b7b7b;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.menu-ativo {
  font-weight: bold;
  color: #252160;
}
.btn {
  background: #252160;
  padding: 10px 21.5px;
  border-radius: 6px;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 0.9375em;
  font-weight: bold;
}

/* FIM HEADER */

/* INTRODUCAO */

.introducao {
  width: 100%;
  background: #252160;
  display: grid;
  grid-template-areas: "seeplans" "main-image";
  grid-template-columns: 1fr 1fr;
}

.see-plans {
  grid-area: seeplans;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 0 70px 70px;
}

.see-plans .text-main {
  margin-left: 25px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.286875em;
  color: #3affe5;
}

.see-plans h1,
.text,
.call {
  margin-top: 32px;
}
.see-plans h1 {
  font-family: "Fredoka One", cursive;
  color: #fff;
  font-size: 4.0725em;
  line-height: 75.6px;
}

.see-plans .text {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.215625em;
}

.call {
  display: flex;
  background-color: #3affe5;
  padding: 15px 90px;
  border-radius: 6.98px;
  color: #252160;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.090625em;
  align-items: center;
}

.see-plans .call p {
  margin-left: 20px;
}
.main-image {
  background-image: url("/img/Image-principal.png");
  background-position: right;
  margin-top: 20px;
}
/* FIM INTRODUCAO */

/* INICIO SLIDE */

.logo-slide {
  margin-top: 30px;
}
.logo-slide ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-slide li + li {
  margin-left: 50px;
}

.logo-slide img {
  filter: grayscale(100%);
  transition: all 0.3s;
}

.logo-slide img:hover {
  transform: scale(1.1);
}

/* FIM SLIDE */

/* INFO */

.informacoes {
  font-family: "Inter", sans-serif;
  margin-top: 25px;
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
}

.informacoes h3 {
  color: #252160;
  font-size: 22px;
  font-weight: 600;
}

.informacoes .text-info {
  color: #7b7b7b;
  font-weight: 400;
  font-size: 19px;
  line-height: 30.12px;
  margin-top: 20px;
}

.informacoes .left {
  position: relative;
  grid-area: left;
}

.info-list {
  padding: 80px 61px 20px 214px;
}

.info-list li {
  margin-top: 30px;
}

.info-list li:last-child {
  margin-top: 34px;
}

.info-list::before {
  content: "";
  background: url("../img/imglista.png") no-repeat center;
  display: block;
  position: absolute;
  left: 120px;
  top: 86px;
  width: 68px;
  height: 404px;
  z-index: -1;
}
.informacoes .right {
  display: flex;
  justify-content: flex-end;
  grid-area: right;
}

.btn-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252160;
  padding: 15px;
  border-radius: 6.98px;
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 1.090625em;
  margin-left: 120px;
  margin-top: 20px;
  width: 300px;
}

.btn-info span {
  margin-left: 20px;
}
/* FIM INFO */

/* INICIO DIVULG */
.divulg {
  font-family: "Nunito", sans-serif;
  background: #f8f8f8;
  display: grid;
  grid-template-areas:
    "menino-foguete text-foguete"
    "text-confete menino-confete";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40% 60%;
}

.divulg .menino-foguete {
  grid-area: menino-foguete;
  padding: 50px 0 0 80px;
}

.divulg .text-foguete {
  grid-area: text-foguete;
  padding: 45px 100px 0 0px;
}

.divulg .menino-confete {
  position: relative;
  grid-area: menino-confete;
  padding-top: 320px;
  grid-row: 1 / 3;
}

.divulg .menino-confete::after {
  content: "";
  display: block;
  background: url("../img/sombra-chao.png") no-repeat center;
  position: absolute;
  top: 834px;
  left: 112px;
  width: 229px;
  height: 14px;
}

.divulg .text-confete {
  grid-area: text-confete;
  padding: 140px 0 0 80px;
}
.divulg h3 {
  font-weight: 700;
  font-size: 22px;
  color: #32b5ff;
  text-transform: uppercase;
}

.divulg h2 {
  font-weight: 700;
  font-size: 44px;
  color: #252160;
}

.divulg h2,
.divulg h3 {
  margin-bottom: 20px;
}
.divulg p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  color: #7b7b7b;
}

/* FIM DIVULG */

/* PLANOS */

.planos .title-planos {
  padding: 50px 0 0 80px;
}
.planos {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.card-group {
  display: grid;
  grid-template-areas: "card-recomendado card-aprovado";
}
.planos .title-primario-planos {
  font-size: 22px;

  color: #32b5ff;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.planos .title-secundario-planos {
  font-size: 44px;
  color: #252160;
  margin-bottom: 58px;
  font-weight: 700;
}
.card-recomendado {
  background: #252160;
  width: 570px;
  height: 600px;
  border-radius: 18px;
  margin-left: 80px;
  grid-area: card-recomendado;
  position: relative;
}

.card-recomendado .desconto {
  position: absolute;
  top: 25px;
  left: 387px;
}

.card-container {
  padding: 60px;
}

.card-container .title-primario {
  font-size: 22px;
  font-weight: 700;
  color: #3c5882;
  margin-bottom: 10px;
}

.card-container .title-secundario {
  font-size: 30px;
  color: #fff;
  margin-bottom: 45px;
  font-weight: 700;
}

.card-container .text-vantagens {
  font-size: 22px;
  color: #32b5ff;
  margin-bottom: 31px;
}

.card-container ul {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
}

.card-container ul li + li {
  margin-top: 20px;
}

.card-container ul li i {
  margin-right: 20px;
}

.vantagens-container {
  margin-left: 30px;
}

.planos-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.planos-columns .price {
  display: grid;
  grid-template-areas:
    "cifrao previousvalue previousvalue"
    "cifrao currentvalue year"
    "calcmonth calcmonth calcmonth";
}

.planos-columns .cifrao {
  grid-area: cifrao;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #3affe5;
  margin-top: 13px;
  margin-right: 15px;
}

.planos-columns .previous-value {
  grid-area: previousvalue;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  opacity: 45%;
}

.planos-columns .current-value {
  grid-area: currentvalue;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-size: 37px;
  color: #fff;
  margin: 10px 0 10px 0;
}

.planos-columns .year {
  grid-area: year;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  opacity: 45%;
  margin-top: 27px;
  margin-left: 5px;
}

.planos-columns .calc-month {
  grid-area: calcmonth;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  opacity: 45%;
}

.btn-planos {
  display: flex;
  width: 199px;
  height: 60px;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  background: linear-gradient(145.09deg, #26e9cf 11.81%, #25cde1 95.89%);
  box-shadow: -1.16333px 1.16333px 6.98px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}

.card-aprovado {
  grid-area: card-aprovado;
  width: 570px;
  height: 600px;
  border: 1px solid #201e54;
  border-radius: 18px;
}
.card-aprovado .card-container .cifrao {
  margin: 0;
}
.card-aprovado .card-container .title-secundario-aprovado,
.card-aprovado .card-container .vantagens-aprovado ul,
.card-aprovado .card-container .current-value,
.card-aprovado .card-container .year {
  color: #252160;
  opacity: 100%;
}

.card-aprovado .card-container .planos-columns {
  margin-top: 55px;
}

.card-aprovado .card-container .btn-aprovado {
  background: #252160;
  margin-left: 50px;
}

/* FIM PLANOS */

/* DEPOIMENTOS */

.depoimentos {
  font-family: "Nunito", sans-serif;
}

.depoimentos .title-primario-depoimentos {
  font-size: 22px;
  color: #32b5ff;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.depoimentos .title-secundario-depoimentos {
  font-size: 44px;
  color: #252160;
  margin-bottom: 58px;
  font-weight: 700;
}

.depoimentos .title-depoimentos {
  padding: 50px 0 0 80px;
}
.depoimentos .reviews {
  display: grid;
  grid-template-areas: "review1 review2 review3";
  margin: 0 80px 0 80px;
}

.review1 {
  grid-area: review1;
}

.review2 {
  grid-area: review2;
}

.review3 {
  grid-area: review3;
}
/* FIM DEPOIMENTOS */

/* JAVASCRIPT */
.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}
